*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    background-color: #00DEB6;
    color: rgb(38,38,54);
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 32px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 30px;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
}

.main {
    min-height: 80vh;
}

.container, 
.buttons {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.reset-btn, 
.play-btn {
    background-color: #3A2B6F;
    border: 2px solid #161615;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.reset-btn:hover, 
.play-btn:hover {
    background-color: #5D4B8F;
}

.reset-btn {
    margin-top: 20px;
    width: 424px;
} 

.play-btn {
    background-color: #8D75D0;
    width: 424px;
}

.scoretext {
    font-weight: bold;
    padding: 20px 0px;
}

.message {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.messageText {
    margin: 5px;
}

img {
    width: 35%;
    height: auto;
}

.hero-section {
    min-height: 408px;
}

.hands {
    min-height: 235px;
}

/* For tablets */
@media (min-width: 768px) {
    img {
        width: 35%; 
    }

    /* .reset-btn,
    .play-btn {
        width: 70%;
    }  */
}

/* For desktop */
@media (min-width: 1024px) {
    img {
        width: 40%; 
    }

    html {
        font-size: 30px;
    }

    .reset-btn,
    .play-btn {
        width: 256px;
    } 

    .hands,
    .buttons {
        flex-direction: row;
        justify-content: center;
    }
    .hero-section {
        min-height: 430px;
    }
    .hands {
        min-height: 268px;
    }
}